<section class="about-area res-pt-0 pb-100 pt-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="about-img" *ngFor="let Image of aboutImage;">
                    <img [src]="Image.img" alt="image">
                    <div class="shape"><img src="assets/img/about/shape1.png"></div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <div class="content" *ngFor="let Content of aboutContent;">
                        <h2>Selamat Datang, </h2>
                        <p>Hi, my name is Derry</p>
                        <p>I am an Assistant Professor in the Computer Science Department of Boston University. Previously, I was a Postdoctoral Researcher at the Department of Computer and Information Science, University of Pennsylvania, working with Chris Callison-Burch. I received my Ph.D. from the Language Technologies Institute at Carnegie Mellon University (Tom Mitchell was my advisor).</p>
                        <p class="wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1000ms">
                            I received my Bachelor and Master degree in Computer Science from the National University of Singapore. From 2004 to 2006, I was a lecturer at Business Information Technology department in Institute of Technical Education (ITE) Singapore. In 2008 I did an internship in Google Zurich, Switzerland. In 2009-2010 I was a graduate research assistant at Artificial Intelligence Laboratory in University of Geneva, Switzerland.
                        </p>
                        <p>
                            My research interest lies on the field of information extraction, machine learning, knowledge bases, machine reading, and natural language processing.
                        </p>
                        <!-- <a routerLink="/{{Content.defaultBtnLink}}" class="default-btn"><i class="{{Content.defaultBtnIcon}}"></i>{{Content.defaultBtnText}}<span></span></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>